<h1>1d20</h1>

<% if @first_die == 1 %>
  <p style="color: red"><%= @outcome %></p>
<% elsif @first_die == 20 %>
  <p style="color: green"><%= @outcome %></p>
<% else %>
  <p><%= @outcome %></p>
<% end %>
